tablesConf.json
obsConf.yaml
/helpers/tablesConf.json
/helpers/obsConf.yaml
venv/*
*/Include
*/Lib
*/Scripts
*/pyvenv.cfg
__pycache__
__pycache__/*
*/__pycache__/*
helpers/obsConf.yaml
*.pyc
helpers/__pycache__/helpers.cpython-310.pyc
